/* Navigation Style Section */
body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.primary-color {
  color: #FD6E0A
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin: 40px;
}

li a {
  text-decoration: none;
}

.hire {
  background-color: #FD6E0A;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

/* Header styleing */
.header {
  background-color: #FFF8F3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.banner-content{
  max-width: 36.5625rem;
}

.banner .image-hardy {
  width: 500px;
}
.greeting{
  font-size: 2.8125rem;
  font-weight: 600;
  color:#474747;
  margin-bottom: 0;
}
.banner-title{
  font-size: 5.3125rem;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
}
.banner-description{
  margin-top: 1.25rem;
  font-size: 1.125rem;font-weight: 400;
  color: #757575;
  
  margin-bottom: 0;
}
.cc{
  margin-top: 1.88rem;
  width: 12.5rem;
  height: 4rem;
  margin-right: 2.94rem;
  margin-left: 0;
  
}
#btn{
  display: flex;
  align-items: center;
}

/* main section start from here */
.about{
  width: 71.25rem;
  height: 34.375rem;
  padding: 8.19;
}